.sidecontentpullout {
	background-color: #790000;
	color: White;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	-moz-border-radius-bottomright: .5em;
	-moz-border-radius-topright: .5em;
	-webkit-border-bottom-right-radius: .5em;
	-webkit-border-top-right-radius: .5em;
	border-bottom-right-radius: .5em;
	border-top-right-radius: .5em;
	z-index: 155556;

}
.sidecontentpullout span {
	font-family: arial,helvetica,clean,sans-serif;
	font-weight: 700;
}

.sidecontentpullout:hover {
	background-color: #fff;
	color: #933;
}

.sidecontent {
	background-color: #fff;
	color: #790000;
	-moz-border-radius-bottomright: 1em;
	-webkit-border-bottom-right-radius: 1em;
	border-bottom-right-radius: 1em;
	z-index: 155555;
	border: 1px solid #999;
	overflow: auto;
	height: 80%;
}
.fantasticMenu {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	z-index: 155556;
	margin-top: 0px;
	display: block;
	overflow: auto;
	height: 80%;
}
.fantasticMenu fieldset {
	border: 1px solid #aaa;
	padding: 5px;
	text-align: center;
	padding-left: 8px;
	padding-top: 1px;
	border-radius: .5em;
	width: 95%;
}
.fantasticMenu legend {
	color: #790000;
	font-weight: bolder;
	font-size: 14px;
	padding: 1px 5px;
	cursor: pointer;
	text-shadow: .3px .3px #333;
	text-transform: capitalize;
}
.fantasticMenu legend img{
	vertical-align: middle;
}
.fantasticMenu legend:hover {
	color: #933;
}
.pref , .cache{
	padding: 2px;
	cursor: pointer;
	text-align: right;
	border: 1px solid #933;
	float: left;
	display: inline-block;
	position: relative;	
	color: #790000;
	margin-bottom: 1px;
	margin-right: 2px;
	border-radius: .23em;
	font-weight: bolder;
}
.prefLabel, .cacheLabel {
	float: left;
	display: inline-block;
	padding: 3px;
}
.pref:hover, .cache:hover {
	color: #fff;
	background-color: #790000;
}
.prefStatus {
    border-radius: 5px 5px 5px 5px;
    display: block;
	float: right;
    height: 10px;
    width: 10px;
	margin-top: 7px;
	margin-left: 4px;
}
.none {
    background-color: #EA2502;
    border-color: #EA2502;
}
.some {
    background-color: #FFC000;
    border-color:#FFC000;
}
.all {
    background-color: #80CD00;
    border-color: #80CD00;
}
.cacheStatus {
    border-radius: 5px 5px 5px 5px;
    display: block;
	float: right;
    height: 10px;
    width: 10px;
	margin-top: 7px;
	margin-left: 4px;
}


#cacheRefresh {
	margin-top: -2px;
}

.fantasticMenu span {
	cursor: pointer;
	text-align: center;
}
.fantasticMenu table {
	width: 100%;
}

.fantasticMenu td span span{
	vertical-align: middle;
	display: inline-block;
}


#linkMenu {
	background-color: #ccc;
	margin: 0 auto;
}
.hasMenu {
	color: #790000;
	display: inline;
	margin: 0 auto;
	padding: 5px 15px;
	cursor: pointer;
	float: left;
	position: relative;
	text-align: center;
	width: 140px;
}
.hasMenu h4 {
	font-weight: bold;
	font-size: 17px;
}
#linkMenu li ul {
}
.hasMenu li a {
	color: #790000;
	padding: 4px;
	display: block;
	text-decoration: none;
}
.hasMenu li a:hover {
	font-weight: bolder;
}

.fanTableHeader {
	background-color: #790000;
	color: #fff;
}



/*#iconF:hover + span , #fantasticBtn:hover {
	color: #fff;
}
*//*#fantasticBtn {
	cursor: pointer;
	font-weight: bolder;
	font-size: 17px;
	color: #790000;
	vertical-align: middle;
	line-height: 18px;
}*/
/*#yspteammh span:not(#fantasticBtn) {
	vertical-align: middle;
	display: inline-block;
	font-size: 12px;
	line-height: 18px;
	padding-top: 2px;
}*/
#Fantastic {
	background-color: #000;
	color: #fff;
	padding: 4px 14px 4px 14px;
}
#boxF {
	vertical-align: middle;
	cursor: pointer;
	margin-top: 9px;
}
#FantasticStatus {
	background-color: #333;
	color: #fff;
}
#prefBoxes {
	background-color: #333;
	color: #fff;
}